*{
    font-family: "Montserrat", sans-serif;
    /* font-weight: 900; */
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    overflow: auto;
}

.top{
    background-color: #96CEB4;
    display: flex;
    height: 2.5rem;
    position: sticky;
}

.space{
    width: 60%;
}

.anchor{
    width: 40%;
    align-items: end;
    padding-top: 0.75rem;
}

.anchor a{
    padding-left: 2rem;
}

.header{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}

.ban{
    width: 100%;
    height: 30rem;
}

a{
    text-decoration: none;
    color : black;
    font-weight: 600;
}

/* .logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 5rem;
    width: 5rem;
} */

.card1{
    height: 20rem;
    width: 25rem;
}

.welcome{
    width: 80%;
    margin-left: 10rem;
    display: flex;
    justify-content: space-evenly;  
}

.welcomeInside{
    width: 50%;
}

.welcomeInside .size{
    margin-top: -0.75rem;
    font-weight: 800;
    color: lightseagreen;
}

.welcomeInside .size1{
    margin-top: -1.5rem;
    font-weight: 800;
    color: lightseagreen;
}

.size2{
    color: green;
    font-weight: 900;
}

.notice{
    text-align: center;
    height: 15rem;
    width: 100%;
    display: inline-block;
    position: relative;
}

.notice img{
    margin-top: 4rem;
    height: 15rem;
    width: 100%;
    z-index: 0;
    display: block;
}

.notice .noticeLG{
    position: absolute;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 3rem;
    z-index: 1;
    top: 25%;
    left: 2%;
}

.notice div h2{
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 1;
    color: #fff;
    text-decoration: underline;
}

.notice div .code{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 1;
    color: aquamarine;
}

.notice div .code1{
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 1;
    color: aquamarine;
}

.service .italy{
    background-color: #7CF5FF;
}

.service .s1{
    margin-top: 7rem;
    text-align: center;
    color: #4F75FF;
    text-decoration: underline;
}

.service .image{
    height: 25rem;
    width: 25rem;
}

.italy .sp1{
    margin-left: 2rem;
}

.italy .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.italy1{
    display: flex;
    margin-left: 10rem;
}

.italy1 .rome{
    margin-left: 13rem;
}

.see_more{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: green;
    border: none;
    height: 2rem;
}

.service .japan{
    background-color: #fff;
}

.japan .sp1{
    margin-left: 2rem;
}

.japan .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.japan1{
    display: flex;
    margin-left: 10rem;
}

.japan1 .kyoto{
    margin-left: 13rem;
}


.service .new_zealand{
    background-color: #7CF5FF;
}

.new_zealand .sp1{
    margin-left: 2rem;
}

.new_zealand .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.new_zealand1{
    display: flex;
    margin-left: 10rem;
}

.new_zealand1 .Rotorua{
    margin-left: 13rem;
}


.service .Thailand{
    background-color: #fff;
}

.Thailand .sp1{
    margin-left: 2rem;
}

.Thailand .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.Thailand1{
    display: flex;
    margin-left: 10rem;
}

.Thailand1 .Phuket{
    margin-left: 13rem;
}


.service .Greece{
    background-color: #7CF5FF;
}

.Greece .sp1{
    margin-left: 2rem;
}

.Greece .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.Greece1{
    display: flex;
    margin-left: 10rem;
}

.Greece1 .Athens{
    margin-left: 13rem;
}


.service .Canada{
    background-color: #fff;
}

.Canada .sp1{
    margin-left: 2rem;
}

.Canada .sp2{
    color: #00CCDD;
    text-decoration: underline;
}

.Canada1{
    display: flex;
    margin-left: 10rem;
}

.Canada1 .Toronto{
    margin-left: 13rem;
}

.visit{
    text-align: center;
    margin-top: 5rem;
    /* background-color: #00CCDD; */
    /* background-color: green; */
}

.visit h1{
    /* color: #6439FF; */
    /* color: white; */
    text-decoration: underline;
}

.visit1{
    display: flex;
    justify-content: center;
}

.visit1 .right{
    margin-left: 20rem;
    /* background-color: #00CCDD; */
    /* background-color: green;
    color: white; */
}



footer{
    display: flex;
    background-color: lightskyblue;
    height: 20rem;
}

footer ul{
    list-style-type:circle;
}

footer ul li{
    padding-bottom: 2rem;
}

footer .contact{
    margin-left: 12rem;
}

footer .links{
    margin-left: 12rem;
    margin-right: 12rem;
}

.last{
    background-color: blueviolet;
    display: flex;
    justify-content: end;
}